## Nice log output:
[log]
date = relative
[format]
pretty = format:%C(auto,yellow bold)% h %C(auto,blue)%>(11,trunc)% ad %C(auto,green)%<(14,trunc)%aN%C(auto,white)% %s% C(auto,red reverse)%D

# Maybe?:
# h - commit
# ad - date
# aN - author
# s - message
# D - branch

#pretty = format:%C(auto,yellow bold)%h%C(auto, white)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(9,trunc)%aN%C(auto,white)%<(38,trunc) %s% C(auto,red reverse)%D
#pretty = format:%C(auto,yellow bold)%h%C(auto, white)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(9,trunc)%aN%C(auto,white)%<(50,trunc) %s% C(auto,red reverse)%gD%D
# (Source: https://stackoverflow.com/questions/1441010/the-shortest-possible-output-from-git-log-containing-author-and-date)

## Status
[color "status"]
	header = normal
	added = green bold reverse
	#updated = red bold
	changed = red bold reverse
	untracked = red
	nobranch = red

[color "branch"]
	current = yellow bold reverse
	local = yellow bold
	remote = red bold
	plain = normal
	
[color "diff"]
	plain = white bold
	meta = cyan bold
	frag = cyan bold
	old = red bold
	new = green bold
	commit = yellow
	whitespace = normal red
	
## Aliases:
[alias]
# logs
#l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
l = log -35
lg = l --graph

a = add
au = add -u; git s
ap = add -p
aa = add .
ac = !git add -A && git commit -m
auc = !git add -u && git commit -m
c = commit --verbose
ca = commit -a --verbose
cm = commit -m
cam = commit -a -m
m = commit --amend --verbose

d = diff
ds = diff --stat
dcs = diff --compact-summary
dw = diff --ignore-cr-at-eol --word-diff-regex="[^[:space:],]+"
dc = diff --cached
a = add
ap = add -p
aa = add .
c = commit --verbose
ca = commit -a --verbose
cm = commit -m
cam = commit -a -m
m = commit --amend --verbose

# https://stackoverflow.com/questions/2928584/how-to-grep-search-committed-code-in-the-git-history
oldies = rev-list --all

s = status -s
co = checkout
cob = checkout -b
# list branches sorted by last modified
b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

# tracked files (must type a branch name after)
tf = ls-tree -r --name-only

# list aliases
la = "!git config -l | grep alias | cut -c 7-"
[user]
	name = tpaxman
[core]
	autocrlf = true
	editor = vim
